# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.env

# ==========================
# Flask
# ==========================
instance/
.flaskenv

# SQLite Databases
*.db
*.sqlite
*.sqlite3

# SQLite backup
old_users.db
users.db

# ==========================
# Pytest
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Environment
# ==========================
.env
.env.*

# ==========================
# Docker
# ==========================
*.pid

# ==========================
# Build
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Cache
# ==========================
.cache/
.mypy_cache/

# ==========================
# Secrets
# ==========================
secret_key.txt