
@font-face{
    font-family : jungle;
    src: url(../fonts/jungle.ttf);
    }
    
    .logo{
       
        font-family: jungle;
        font-size: 48px;
        padding-left: 100px;
        background: url(../images/logo.png) no-repeat;
        background-size: 100px;
        width: 100px;
        height: 100px;
        color: #135e46;
        text-shadow: 3px 3px black;
        transition: .3s;
        
       
    }
    *{
        box-sizing: border-box;
    }
    header {
        display: flex;
        justify-content: space-between;
       
        height: 140px;
        width: 100%;
        padding: 20px;
        background-color: rgba(115,167,136.08);
        
    
    }
    header a{
        text-decoration : none;
    }
    .logo:hover{
        transform: translate(15px);
        color: aliceblue;
    }
    
    nav {
        display: flex;
        width:40%;
        justify-content: space-around;
        align-items: center;
    }
    
    nav a {
         font-family: jungle;
         color: #b67b65;
         font-size: 24px;
         text-shadow: 2px 2px  black;
         transition: .3s
        
    }
    nav a:hover{
        transform: scale(1.2);
        color: aliceblue;
        
    }
    
    .banner {
        height: 150px;
        width:100%;
       
        margin-top:20px;
        background: url(../images/slothInTree.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        
    
    
    
    }
    .slothmini{
        height: 400px;
        width : 100%;
        border: 5px solid black;
        background-color: rgba(115,167,136,.8);
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-top:20px;
    }
    .slothmini h1{
        font-size: 28px;
        text-shadow: 2px 2px black;
        color: white;
        margin: 0 0 40px 30px;
        padding-top: 40px;
    }
    .sloths{
        width:100%;
        display: flex;
        
        justify-content: space-evenly;
    
    }
    .sloths div{
        border: 5px solid white;
        height:250px;
        width : 25%;
        border-radius: 20px;
        background-size:cover;
        background-position: center;
        display: flex;
    
    }
        
    
    .s1{
        background: url(../images/slothEating.jpg)no-repeat;
      
    }
    
    .s2{
        background: url(../images/slothClimbing.jpg)no-repeat;
    }
    .s3{
        background: url(../images/slothHanging.jpg)no-repeat;
    }
    
    
    footer{
        
        align-items: center;
        margin-top:20px;
        justify-content: space-evenly;
        display: flex;
    
    }
    footer img{
        width: 50px;
        transition: .3s;
      
    }
    footer img:hover{
        scale: 1.5;
        transform: translate(10px);
    }
    .container{
        background-color: rgba(115,167,136,.8);
        height: 600px;
        margin-top: 20px;
       

    }
    .container h1{
        font-size: 30px;
        text-shadow: 2px 2px black;
        color: white;
        margin: 0 0 40px 30px;
        padding-top: 40px;
    }
    .formandtable{
     display: flex;
     justify-content: space-evenly;
    } 
    .form input,textarea{
        border: 2px solid black;
       width: 300px;
       padding:7px;
       margin-bottom: 10px;
       border-radius: 10px;
       transition: .3s;
       display:flex;
       
    }
    .form textarea{
        display: block;
        height: 125px;
    }
    .form label{
        display: block;
        text-shadow: 1.5px 1.5px black;
        color: white;
        margin-bottom: 3px;
        font-size: 20px;
        
    }
    .form button{
        padding: 10px;
        font-size: 18px;
       display:flex;
       margin-top: 2px;
       border-radius: 2px;
       border: 2px solid black;
       background-color: #135e46;
       color: white;
       cursor: pointer;
       transition: .3s;
       width:80px;
       text-align: center;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

    }
    .form button:hover{
        scale: 1.2;
        background-color: red;
    }
    .form input:hover,textarea:hover{
        scale: 1.2px;
        cursor:text;
        background-color: antiquewhite;
        
    }
    .table {
       
        border-collapse: collapse;
    }
    
    
    .table th,.table td{
        border : 2px solid black;
        text-align: center;
        width:50%;
        font-family:monospace;
        font-weight: bold;
        transition:.3s;
        

    }

    .table th{
        font-size:30px;
    }
    .table tr:nth-child(even){
        background-color: white;
    }

    .table th:hover,.table td:hover{
        background-color: red;
        color: white;
        scale: 1.1;

    }

    table td{
    font-size: 20px;
       
    }