{% extends "layout.html" %}

{% block content %}

<div class="form-container">

    <h1 class="form-title">Add Animal</h1>

    <form method="POST" enctype="multipart/form-data" class="animal-form">
        {{ form.csrf_token }}

        <div class="form-group">
            {{ form.name.label }}
            {{ form.name }}
        </div>

        <div class="form-group">
            {{ form.catagory.label }}
            {{ form.catagory }}
        </div>

        <div class="form-group">
            {{ form.description.label }}
            {{ form.description }}
        </div>

        <div class="form-group">
            {{ form.image.label }}
            {{ form.image }}
        </div>

        <div class="form-group">
            {{ form.submit(class="submit-btn") }}
        </div>

    </form>

</div>

{% endblock content %}