<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="animal welfare, animal donation, rescue animals">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

    <title>Animal Welfare</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

</head>

<body>

<header>

    <!-- Logo -->
    <a href="{{ url_for('main.home') }}" class="logo-link">

        <div class="logo">

            <span class="logo-text">
                Animal Welfare Donation
            </span>

        </div>

    </a>

    <!-- Hamburger Menu -->
    <button class="menu-toggle" id="menu-toggle">
        ☰
    </button>

    <!-- Navigation -->
    <nav id="navbar">

        <a href="{{ url_for('main.home') }}">
            HOME
        </a>

        <a href="{{ url_for('main.showanimals') }}">
            Animal
        </a>

        <a href="{{ url_for('main.showevents') }}">
            Events
        </a>

        {% if current_user.is_authenticated %}

            <li class="user-menu">

                <span>{{ current_user.username }}</span>

                <a href="{{ url_for('main.logout') }}">
                    Logout
                </a>

            </li>

        {% else %}

            <li class="user-menu">

                <a href="{{ url_for('main.login') }}">
                    Login
                </a>

            </li>

        {% endif %}


        {% if current_user.is_authenticated and current_user.is_admin %}

            <a href="{{ url_for('main.donorlist') }}">
                Donor List
            </a>

            <a href="{{ url_for('main.addanimal') }}">
                Add Animal
            </a>

            <a href="{{ url_for('main.addevent') }}">
                Add Event
            </a>

        {% endif %}

    </nav>

</header>



{% block content %}

{% endblock content %}



<footer>

    <span>

        &copy;

        <script>
            document.write(new Date().getFullYear())
        </script>

        by Prajwal K.C. All rights are reserved.

    </span>

</footer>



<!-- Lottie -->
<script
src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.9.14/dist/dotlottie-wc.js"
type="module">
</script>

<!-- Mobile Navbar -->
<script>

const menuToggle = document.getElementById("menu-toggle");
const navbar = document.getElementById("navbar");

menuToggle.addEventListener("click", () => {
    navbar.classList.toggle("active");
});

// Close menu after clicking a link (mobile)
document.querySelectorAll("#navbar a").forEach(link => {

    link.addEventListener("click", () => {

        if (window.innerWidth <= 992) {
            navbar.classList.remove("active");
        }

    });

});

</script>

</body>

</html>